* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul li {
  list-style: none;
}
body {
  font-family: "Lato", sans-serif;
}

.row {
  display: flex;
}
.col-20 {
  flex-basis: 19%;
  margin: 0 5px;
  padding: 0 5px;
}
.col-30 {
  flex-basis: 29%;
  margin: 0 5px;
  padding: 0 5px;
}

.col-40 {
  flex-basis: 39%;
  margin: 0 5px;
  padding: 0 5px;
}

.col-50 {
  flex-basis: 49%;
  margin: 0 5px;
  padding: 0 5px;
}
.container {
  width: 1140px;
  margin: 0 auto;
}
#one {
  height: 100px;
  width: 100px;
  background: red;
  animation: sporadic-rotate 5.25s cubic-bezier(0.35, 0, 0.25, 1) infinite;
}
@keyframes outer-rotate {
  0% {
    transform: rotate(0deg) scale(0.5);
  }
  100% {
    transform: rotate(360deg) scale(0.5);
  }
}

@keyframes left-wobble {
  0%,
  100% {
    transform: rotate(130deg);
  }
  50% {
    transform: rotate(-5deg);
  }
}

@keyframes right-wobble {
  0%,
  100% {
    transform: rotate(-130deg);
  }
  50% {
    transform: rotate(5deg);
  }
}

@keyframes sporadic-rotate {
  12.5% {
    transform: rotate(135deg);
  }
  25% {
    transform: rotate(270deg);
  }
  37.5% {
    transform: rotate(405deg);
  }
  50% {
    transform: rotate(540deg);
  }
  62.5% {
    transform: rotate(675deg);
  }
  75% {
    transform: rotate(810deg);
  }
  87.5% {
    transform: rotate(945deg);
  }
  100% {
    transform: rotate(1080deg);
  }
}
