* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul li {
  list-style: none;
}
body {
  font-family: "Lato", sans-serif;
}

.row {
  display: flex;
}
.col-20 {
  flex-basis: 19%;
  margin: 0 5px;
  padding: 0 5px;
}
.col-30 {
  flex-basis: 29%;
  margin: 0 5px;
  padding: 0 5px;
}

.col-40 {
  flex-basis: 39%;
  margin: 0 5px;
  padding: 0 5px;
}

.col-50 {
  flex-basis: 49%;
  margin: 0 5px;
  padding: 0 5px;
}
.container {
  width: 1140px;
  margin: 0 auto;
}
